<!DOCTYPE html>
<html>
	<head>
    	<title>Weatherarty</title>
  	</head>
  	<body>
  		<div id="sweaterLevel">
  			<%= sweaterLevel %>
  		</div>
  		<div id="chanceOfRain">
  			<%= chanceOfRain %>
  		</div>

	</body>
</html>